<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= "#{@title} - " if @title %>A pragmatic guide to Backbone.js apps</title>
    <%= stylesheet_tag 'manifest' %>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script src="//use.typekit.net/yrp6jrp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= @class ? @class : "chapter" %>">
    <%= yield %>
    <div class="toggler-menu">
      <!-- A proper <button> here makes the transition screwy -->
      <div class="toggler-button">
        <span class="coffeescript-label">C</span>
        <span class="javascript-label">J</span>
      </div>
    </div>
    <%= javascript_tag 'prism' %>
    <script>
      (function(d) {
        var languages = ['coffeescript', 'javascript'];
        var selected = localStorage['language'];
        var touch = 'ontouchstart' in window;

        var switchTo = function(language) {
          if (language === 'javascript') {
            document.body.classList.remove('language-coffeescript');
            document.body.classList.add('language-javascript');
            localStorage['language'] = 'javascript';
            selected = 'javascript';
          } else if (language === 'coffeescript') {
            d.body.classList.remove('language-javascript');
            d.body.classList.add('language-coffeescript');
            localStorage['language'] = 'coffeescript';
            selected = 'coffeescript';
          }
        };

        d.addEventListener("keypress", function(event) {
          if (!event.keyCode === 115) return;
          if (selected === 'javascript') {
            switchTo('coffeescript');
          } else {
            switchTo('javascript');
          }
        }, false);

        var togglerButton = d.querySelector('.toggler-button');
        var eventName = touch ? 'touchend' : 'click';
        togglerButton.addEventListener(eventName, function() {
          if (selected === 'javascript') {
            switchTo('coffeescript');
          } else {
            switchTo('javascript');
          }
        }, false);
        switchTo(selected || 'coffeescript');
      })(document);
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45688007-1', 'pragmatic-backbone.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
