<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= "#{@title} - " if @title %>A pragmatic guide to Backbone.js apps</title>
    <%= stylesheet_tag 'manifest' %>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script src="//use.typekit.net/yrp6jrp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= @class ? @class : "chapter" %>">
    <%= yield %>
  </body>
  <%= javascript_tag 'prism' %>
  <script>
    (function(d) {
      var languages = ['coffeescript', 'javascript]'];
      d.body.classList.add('language-' + languages[0]);
      d.addEventListener("keypress", function(event) {
        if (!event.keyCode === 115) return;
        if (d.body.classList.contains('language-coffeescript')) {
          d.body.classList.remove('language-coffeescript');
          d.body.classList.add('language-javascript');
        } else {
          d.body.classList.remove('language-javascript');
          d.body.classList.add('language-coffeescript');
        }
      }, false);
    })(document);
  </script>
</html>
