<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= "#{@title} - " if @title %>A pragmatic guide to Backbone.js apps</title>
    <%= stylesheet_tag 'manifest' %>
    <script src="//use.typekit.net/yrp6jrp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="language-coffeescript <%= @class ? @class : "chapter" %>">
    <%= yield %>
  </body>
  <%= javascript_tag 'prism' %>
</html>
